{% extends 'base.html.twig' %}

{% block title %}Agence matrimonial Franco-malgache!{% endblock %}

{% block body %}
    <!-- ================ Banner Section start Here =============== -->
    <section class="banner-section style2 bgimg" style="background-image: url(assets/images/banner/bg2.jpg);">
        <div class="container">
            <div class="section-wrapper">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <div class="intro-form">
                                <h2>{% trans %}La vie {% endtrans %}<span class="theme-color"> à 2 </span>{% trans %} C'est {% endtrans %}
								<span class="theme-color">{% trans %}mieux !{% endtrans %}</span></h2>
                                <ul>
                                    <li><i class="icofont-heart-alt"></i>{% trans %}Protection contre les arnaques à 100%{% endtrans %}</li>
                                    <li><i class="icofont-heart-alt"></i>{% trans %}Appels vidéo sur Skype avec les dames{% endtrans %}</li>
                                    <li><i class="icofont-heart-alt"></i>{% trans %}Nous connaissons chaque femme en personne{% endtrans %}</li>
                                    <li><i class="icofont-heart-alt"></i>{% trans %}Enregistré à Madagascar{% endtrans %}</li>
                                    <li><i class="icofont-heart-alt"></i>{% trans %}Personelle français{% endtrans %}</li>
                                </ul>
                                <a href="{{ path('app_register') }}" class="lab-btn"><span>{% trans %}s'inscrire{% endtrans %}</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-thumb">
                            <img src="/assets/images/banner/01.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Banner Section end Here =============== -->


    <!-- ================> About section start here <================== -->
	<div class="about about--style3 padding-top pt-xl-0">
		<div class="container">
			<div class="section__wrapper wow fadeInUp" data-wow-duration="1.5s">
				<form action="#">
					<div class="banner__list">
						<div class="row align-items-center row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1">
							<div class="col">
								<label>Age</label>
								<div class="row">
									<div class="col-6">
										<div class="banner__inputlist">
											<select>
												<option value="18" selected>18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
												<option value="32">32</option>
												<option value="33">33</option>
												<option value="34">34</option>
												<option value="35">35</option>
												<option value="36">36</option>
												<option value="37">37</option>
												<option value="38">38</option>
												<option value="39">39</option>
												<option value="40">40</option>
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="banner__inputlist">
											<select>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25" selected>25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
												<option value="32">32</option>
												<option value="33">33</option>
												<option value="34">34</option>
												<option value="35">35</option>
												<option value="36">36</option>
												<option value="37">37</option>
												<option value="38">38</option>
												<option value="39">39</option>
												<option value="40">40</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<label>Ville</label>
								<div class="banner__inputlist">
									<select>
										<option>{% trans %}Peu importe{% endtrans %}</option>
										<option value="male">Male</option>
										<option value="female" selected>Female</option>
										<option value="others">Others</option>
									</select>
								</div>
							</div>
							<div class="col">
								<label>Enfants</label>
								<div class="banner__inputlist">
									<select id="country" name="country">
										<option>{% trans %}Peu importe{% endtrans %}</option>
										<option value="yes">{% trans %}Oui{% endtrans %}</option>
										<option value="no">{% trans %}Non{% endtrans %}</option>
                                    </select>
								</div>
							</div>
							<div class="col">
								<button type="submit" class="lab-btn d-block"><span>Find Your Partner</span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <!-- ================> About section end here <================== -->


    <!-- ================> About section start here <================== -->
	<div class="about padding-tb">
		<div class="container">
			<div class="section-header wow fadeInUp" data-wow-duration="1.5s">
				<h2>{% trans %}Créer votre profile{% endtrans %}</h2>
				<p>{% trans %}Service De Conçu Pour Réunir Les Célibataires pour trouvez Votre Beauté malgache{% endtrans %}</p>
			</div>
			<div class="section__wrapper">
				<div class="row g-4 justify-content-center row-cols-lg-3 row-cols-sm-2 row-cols-1">
					<div class="col wow fadeInUp" data-wow-duration="1.5s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="assets/images/about/01.jpg" alt="dating thumb">
								</div>
								<div class="about__content">
									<h4>{% trans %}Créer votre profile{% endtrans %}</h4>
									<p>{% trans %}Créez votre profil pour mettre en avant votre personnalité et partager vos expériences.{% endtrans %}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col wow fadeInUp" data-wow-duration="1.5s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="assets/images/about/02.jpg" alt="dating thumb">
								</div>
								<div class="about__content">
									<h4>{% trans %}Parcourez les profile{% endtrans %}</h4>
									<p>{% trans %}Parcourez les profils pour découvrir votre futur compagne{% endtrans %}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col wow fadeInUp" data-wow-duration="1.5.5s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="assets/images/about/03.jpg" alt="dating thumb">
								</div>
								<div class="about__content">
									<h4>{% trans %}Commencez à communiquer{% endtrans %}</h4>
									<p>{% trans %}Commencez à communiquer pour tisser des liens, échanger des idées.{% endtrans %}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- ================> About section end here <================== -->


    <!-- ================ Success Story Section start Here =============== -->
    <section class="story-section padding-tb bgimg" style="background-image: url(assets/images/bg-img/04.jpg);">
        <div class=" container">
            <div class="section-header">
                <h2>Read Our Success Stories</h2>
                <p>Listen and learn from our community members and find out tips and tricks to meet your love. Join us and be part of a bigger family.</p>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center g-4 row-cols-xl-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="story-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="blog-single.html"><img src="assets/images/story/01.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="blog-single.html"><h4>Dream places and locations to visit in 2022</h4></a>
                                    <div class="lab-content-author">
                                        <div class="left">
                                            <img src="assets/images/story/author/01.png" alt="blog-thumb">
                                        </div>
                                        <div class="right">
                                            <a href="#">Umme Nishat</a>
                                            <span>April 08, 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="story-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="blog-single.html"><img src="assets/images/story/02.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="blog-single.html"><h4>Make your dreams come true and monetise quickly</h4></a>
                                    <div class="lab-content-author">
                                        <div class="left">
                                            <img src="assets/images/story/author/02.png" alt="blog-thumb">
                                        </div>
                                        <div class="right">
                                            <a href="#">Rajib Raj</a>
                                            <span>April 08, 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="story-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="blog-single.html"><img src="assets/images/story/03.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="blog-single.html"><h4>Love looks not with the eyes, but with the mind.</h4></a>
                                    <div class="lab-content-author">
                                        <div class="left">
                                            <img src="assets/images/story/author/03.png" alt="blog-thumb">
                                        </div>
                                        <div class="right">
                                            <a href="#">Radika Roy</a>
                                            <span>April 08, 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Success Story Section end Here =============== -->


    <!-- ================ Top Member Section start Here =============== -->
    <section class="top-member-section padding-tb">
        <div class="container">
            <div class="section-header">
                <h2>{% trans %}Nos adhérente{% endtrans %}</h2>
                <p>{% trans %}Imaginez un monde où chaque regard, chaque sourire, chaque conversation peut être le début d'une histoire extraordinaire.{% endtrans %}</p>
            </div>
            <div class="section-wrapper">
                <ul class="button-group filters-button-group w-100 d-flex flex-wrap justify-content-center">
                    <li class="button is-checked filter-btn" data-filter="*">{% trans %}Tous les ages{% endtrans %}</li>
                    <li class="button filter-btn" data-filter=".boy">{% trans %}18 à 25 ans{% endtrans %}</li>
                    <li class="button filter-btn" data-filter=".girl">{% trans %}26 à 40 ans{% endtrans %}</li>
                    <li class="button filter-btn" data-filter=".plusquarante">{% trans %}plus de 40 ans{% endtrans %}</li>
                </ul>
                <div class="grid-memberlist">
                    {% for profile in profiles %}
                    {# calcul de l'age en fonction de la date de naisance #}
                    {% set age = 'now'|date('Y') - profile.Birthday|date('Y') %}

                    {# si age est entre 18 et 25 #}
                    {% if age >= 18 and age <= 25 %}
                        {% set class  = 'boy' %}
                    {% elseif age >= 26 and age <= 40 %}
                        {% set class  = 'girl' %}
                    {% else %}
                        {% set class  = 'plusquarante' %}
                    {% endif %}
                    <div class="grid-member filter-item {{ class }}">
                        <div class="lab-item member-item style-1">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="profile.html"><img src="{{ asset('assets/images/member/' ~ profile.Pictures|first) }}" alt="member-img"></a>
                                </div>
                                <div class="lab-content">
                                    <h6><a href="{{ path('app_profiles_show', {'Slug': profile.Slug }) }}">{{ profile.FirstName }} <i class="icofont-check" title="{% trans %}Profile vérifier le{% endtrans %}"></i></a> </h6>
                                    <p>{{ profile.City }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="member-button-group d-flex flex-wrap justify-content-center">
                    <a href="{{ path('app_profiles_list') }}" class="lab-btn"><span>{% trans %}Toutes nos adhérantes{% endtrans %}</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Top Member Section end Here =============== -->


    <!-- ================ Active Group Section Start Here =============== -->
    <section class="group-section style2 padding-tb bgimg" style="background-image: url(assets/images/bg-img/05.jpg);">
        <div class="container">
            <div class="section-header">
                <h2>{% trans %}blog de rencontre femme malgache{% endtrans %}</h2>
                <p>{% trans %}Écoutez et apprenez des membres de notre communauté et découvrez des trucs et astuces pour rencontrer l'amour. Rejoignez-nous et faites partie d'une grande famille.{% endtrans %}</p>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="group-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="group-single.html"><img src="assets/images/group/01.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="group-single.html"><h4>A Dating Story</h4></a>
                                    <p>Who doesn't love cupcakes? if you also love them, then this...</p>
                                    <ul class="lab-content-icon">
                                        <li>
                                            <i class="icofont-globe"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <span class="tooltip-label">Public</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icofont-users-alt-3"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <a href="group-single.html" class="tooltip-label">12+ Members</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="group-single.html"><img src="assets/images/group/02.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="group-single.html"><h4>A Single Rose</h4></a>
                                    <p>Who doesn't love cupcakes? if you also love them, then this...</p>
                                    <ul class="lab-content-icon">
                                        <li>
                                            <i class="icofont-globe"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <span class="tooltip-label">Public</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icofont-users-alt-3"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <a href="group-single.html" class="tooltip-label">12+ Members</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="group-single.html"><img src="assets/images/group/03.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="group-single.html"><h4>Beautiful Distraction</h4></a>
                                    <p>Who doesn't love cupcakes? if you also love them, then this...</p>
                                    <ul class="lab-content-icon">
                                        <li>
                                            <i class="icofont-globe"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <span class="tooltip-label">Public</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icofont-users-alt-3"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <a href="group-single.html" class="tooltip-label">12+ Members</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group-item lab-item">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <a href="group-single.html"><img src="assets/images/group/04.jpg" alt="img"></a>
                                </div>
                                <div class="lab-content">
                                    <a href="group-single.html"><h4>Because You Love Me</h4></a>
                                    <p>Who doesn't love cupcakes? if you also love them, then this...</p>
                                    <ul class="lab-content-icon">
                                        <li>
                                            <i class="icofont-globe"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <span class="tooltip-label">Public</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="icofont-users-alt-3"></i>
                                            <div class="time-tooltip">
                                                <div class="time-tooltip-holder">
                                                    <a href="group-single.html" class="tooltip-label">12+ Members</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-center mt-5">
                    <a href="active-group.html" class="lab-btn"><span>Discover All Groups</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Active Group Section end Here =============== -->


    <!-- ================> App section start here <================== -->
	<div class="app app--style2 padding-tb">
		<div class="container">
			<div class="row g-4 justify-content-center">
				<div class="col-12">
					<div class="app__item wow fadeInUp" data-wow-duration="1.5s">
						<div class="app__inner">
                            <div class="section-header mb-4">
                                <h2>Download Our PyaarPro Apps</h2>
								<p>You find us, finally and you are already in love. More than 5.000.000 around world already shared the same experience andng ares uses our system Joining!</p>
                            </div>
							<div class="app__content text-center">
                                <ul class="d-flex flex-wrap mb-4">
                                    
                                    <li class="counter-text border-count">
                                        <h3 class="counter__number odometer mb-0" data-odometer-final="12345689">0</h3>
                                    </li>
                                </ul>
								<ul class="justify-content-center">
									<li><a href="#"><img src="assets/images/app/01.jpg" alt="dating thumb"></a></li>
									<li><a href="#"><img src="assets/images/app/02.jpg" alt="dating thumb"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- ================> App section end here <================== -->
{% endblock %}
